language: ruby

rvm:
  - 1.9.2

env:
  - DB=sqlite
  - DB=mysql
  - DB=postgres

before_script:
  - "cp config/database.$DB.travis.yml config/database.yml; fi"

  - sh -c "if [ '$DB' = 'postgres' ]; then psql -c 'create database firefly_test;' -U postgres; fi"
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'create database firefly_test;'; fi"

  - "RACK_ENV=test bundle exec rake db:migrate"

