language: ruby
sudo: false
cache: bundler
install: bundle install --jobs=3 --retry=3 --without production

before_script:
  - cp .env.test.$DB .env.test

script:
  - 'HANAMI_ENV=test bundle exec hanami db create'
  - 'HANAMI_ENV=test bundle exec hanami db migrate'
  - 'bundle exec rake test'

rvm:
  - 2.2.4
  - 2.3.0
  - ruby-head

env:
  - DB=sqlite
  - DB=mysql

matrix:
  allow_failures:
    - rvm: ruby-head
