require 'rubygems'
require 'firefly'

root_dir = File.dirname(__FILE__)

set :environment, ENV['RACK_ENV'].to_sym
set :root,        root_dir
set :app_file,    File.join(root_dir, 'app.rb')

set :database,    'sqlite:firefly.sqlite3'

disable :run

run Sinatra::Application