require 'rubygems'
require 'firefly'

disable :run

app = Firefly::Server.new do
  set :hostname,    "localhost:3000"
  set :api_key,     "test"

  # Use Sqlite3 by default
  set :database,    "sqlite3://#{Dir.pwd}/firefly.sqlite3"

  # Set number of recent urls to show
  set :recent_urls, 10

  # You can use MySQL as well. 
  # Make sure to install the do_mysql gem:
  #    sudo gem install do_mysql
  # set :database,    "mysql://root@localhost/firefly"
end

run app
