!!!
%html
  %head
    %title Firefly
    %meta(charset="UTF-8")
    %link{ :rel => "stylesheet", :href => u('reset.css') }
    %link{ :rel => "stylesheet", :href => u('style.css') }
    %script{ :type => "text/javascript", :src => u('jquery-1.4.2.min.js') }
  %body
    .header
      %ul.nav
        %li.current
          %a{ :href => '/' } Firefly
          
    #main
      = yield
    
    #footer
      %p
        Powered by <a href="http://github.com/ariejan/firefly">Firefly</a> v#{Firefly::Version} | <a href="http://github.com/ariejan/firefly/tree/v#{Firefly::Version}">Source</a> | <a href="http://github.com/ariejan/firefly/issues">Issues</a>