!!!
%html
  %head
    %title #{@title}
    %meta(charset="UTF-8")
    %link{ rel: "stylesheet", href: u('vendor/bootstrap/css/bootstrap.min.css') }
    %link{ rel: "stylesheet", href: u('assets/css/bootstrap_extends.css') }
    %link{ rel: "stylesheet", href: u('assets/css/firefly.css') }
    %script{ type: "text/javascript", src: u('vendor/jquery-1.9.1.min.js') }
    %script{ type: "text/javascript", src: u('assets/js/firefly.js') }
  %body.application
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a{ href: u('/'), class: 'brand' } FIREFLY
    .container
      .content
        = yield

      %footer
        %p
          Powered by <a href="http://github.com/ariejan/firefly">Firefly</a> v#{Firefly::VERSION} | <a href="https://github.com/ariejan/firefly/tree/v#{Firefly::VERSION}">Source</a> | <a href="http://github.com/ariejan/firefly/issues">Issues</a>
