@import 'bootstrap';
@import 'bootflat';
@import 'font-awesome';
@import 'ekko-lightbox';

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

#recent {
    margin-top: 2em;

    .item {
        padding: 16px;
        border-bottom: 1px solid $mediumgray-light;

        .title,
        .title a {
            color: $black;
            text-decoration: none;
            font-size: 1.1em;
        }
        .title a:hover {
            text-decoration: underline;
        }

        .content,
        .content a {
            color: $mediumgray-light;
            text-decoration: none;
            font-size: 0.9em;
        }

        .content a:hover {
            text-decoration: underline;
        }

        .short {
        }

        .short,
        .short a {
            color: $bittersweet-light;
            text-decoration: none;
        }

        .short a:hover {
            text-decoration: underline;
        }

        ul.meta {
            text-align: right;

            li {
                list-style: none;
                display: inline-block;
                margin-left: 0.8em;
                color: $mediumgray-light;

                a {
                    color: $mediumgray-light;
                }
            }
        }
    }
}

